:root {
  --appRed:rgb(117, 95, 95);
  --appBG: rgb(155, 78, 78);
  --appText:rgb(169, 16, 16);
  --appBorderL: rgb(198, 112, 112);
  --appBorder: rgb(132, 26, 26);
  --appMainColor: rgb(172, 151, 151);
  --appAuth: rgb(65, 15, 15);
  --appRadiusSmall: 15px;
  --appRadiusMain: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
